<div class="bg-background relative">
  <div class="mx-auto px-5">
    <div class="flex items-center justify-between py-2 md:justify-start">
      <!-- Mobile Navigation Menu Button-->
      <div class="sm:order-1 lg:hidden">
        <button
          (click)="toggleMobileMenu()"
          type="button"
          class="bg-muted text-muted-foreground focus:ring-primary hover:bg-muted-foreground hover:text-muted inline-flex items-center justify-center rounded-md p-2 focus:outline-hidden focus:ring-2 focus:ring-inset"
          aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg-icon src="assets/icons/heroicons/outline/menu.svg" [svgClass]="'h-6 w-6'"> </svg-icon>
        </button>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden space-x-10 sm:order-3 md:flex">
        <app-navbar-menu></app-navbar-menu>
      </div>

      <!-- Profile menu -->
      <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0">
        <div
          class="nav-items hidden items-center justify-center gap-6 text-[16px] text-[rgb(200,200,200)] shadow-lg lg:flex">
          <div class="nav-items-list flex items-center justify-center gap-6">
            <a href="#about" class="font-medium transition-colors duration-300 hover:text-white">About Me</a>
            <a href="#resume" class="font-medium transition-colors duration-300 hover:text-white">Resume</a>
            <a href="#contact" class="font-medium transition-colors duration-300 hover:text-white">Contact Me</a>
          </div>
          <div class="nav-items-button cart mr-2 flex items-center justify-center gap-6">
            <a href="#collaborate" class="font-medium transition-colors duration-300 hover:text-white">Collaborate</a>
            <a href="#hire" class="font-medium transition-colors duration-300 hover:text-white">Hire Me</a>
          </div>
        </div>

        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  </div>
</div>
