.cart {
  position: relative;
  display: flex;
  align-items: center;
}

.cart::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: white;
  margin-right: 0px;
  opacity: 0.7;
}