.custom-input,
.custom-input:focus {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  box-shadow: none !important; 
  font-size: 15px;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
}

.cart::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: white;
  margin-right: 10px;
  opacity: 0.7;
}